<nav
  class="navbar navbar-light navbar-expand-sm  bg-faded fixed-bottom position-fixed sh-header-primary-bg-color"
  style="padding: 1rem 1.2rem;">

  <section>
    <div class="bottom-bar-l-r-menu pointer">
      <i class="fas fa-home bottom-bar-icon p-l-10 fs-18 sh-primary-icon-color"></i>
      <p class="m-b-0 sh-primary-icon-color fs-14">Shop</p>
    </div>
  </section>

  <section>
    <div class="bottom-bar-l-r-menu pointer">
      <i class="fas fa-home bottom-bar-icon p-l-10 fs-18 sh-primary-icon-color"></i>
      <p class="m-b-0 sh-primary-icon-color fs-14">Order</p>
    </div>
  </section>

  <section>
    <div class="bottom-bar-l-r-menu pointer">
      <i class="fas fa-circle-notch bottom-bar-icon p-l-10 fs-18 sh-primary-icon-color"></i>
      <p class="m-b-0 sh-primary-icon-color fs-14">Status</p>
    </div>
  </section>

  <section>
    <div class="bottom-bar-l-r-menu pointer">
      <i class="fas fa-comments bottom-bar-icon p-l-10 fs-18 sh-primary-icon-color"></i>
      <p class="m-b-0 sh-primary-icon-color fs-14">Chat</p>
    </div>
  </section>


</nav>
