<app-bottom-bar></app-bottom-bar>

<div class="app m-3">
  <div class="p-t-20 p-l-10 p-r-10 form-group has-success has-feedback fixed-top bg-white "
      style="z-index: 500"><h3 >Shop</h3>
    <div class="d-flex m-t-10">
  <input class="form-control sh-header-primary-bg-color"
         [(ngModel)]="formSearchKeyWord"
         style="background-color:#e4e4e4;height: 40px;border: none;" type="text" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    <span><i class="fa fa-search fs-16 sh-primary-icon-color" (click)="getSearchedExperts()"></i></span>
  </div>
    </div>
    <div class="m-t-20">
      <div class="border-bottom">
        <h6 class="sh-primary-font-color float-right" style="text-decoration: underline">New</h6>
        <h6 class="sh-primary-font-color" style="text-decoration: underline">Shop List</h6>
      </div>
    </div>

  </div>
  <div class="p-t-140 kt-bg-color-tertiary p-b-10 m-b-50">
    <div class="p-t-5">
      <div class="panel panel-default m-t-10" *ngFor="let shop of shops; let i = index">
        <div class="d-flex flex-row col-12 m-b-10" (click)="toShopDetailScreen(shop)">
          <div class="col-12">
            <div class="row">
              <div class="col-2 p-l-0 m-t-10">
                <div class="">
                  <div class="card communication-word-circle-card" style="background: #42464a">
                    <p class="m-b-0 auth-continue-image f-w-900">{{shop.msg[0]}}</p>
                  </div>
                </div>
              </div>
              <div class="col-10  p-r-2 border-bottom">
                <h5 class="d-block f-w-900" >{{shop.msg}}</h5>
                <h6 class="sh-secondary-font-color crop-text-1 fs-15">{{shop.desc}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
