
h1,
h2,
h3 {
  margin: 0;
}


.form-control {
  width: 100%;
  padding: 0 30px 0 30px;
  border-radius: 13px;
}
.input-group-append {
  margin-left: -30px;
}
.fa-search {
  margin-top: 11px;
}

.fixed-top {
  top:0px;
}
input[placeholder] {
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.borderbottom {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
.borderbottom:last-child {
  border-bottom: none;
}
.crop-text-1 {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.communication-word-circle-card {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border: none;
  background: #1da1f2;
  //background: transparent linear-gradient(180deg, #FF6A83 0%, #F98875 49%, #F3A866 100%) 0% 0% no-repeat padding-box;

}

.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

