/*-------------------Top nav-bar--------*/
.top-bar-icon {
  font-size: 1.2rem;
}

.top-bar-left {
  text-align: center;
  vertical-align: middle;
  line-height: 1.8rem;
}

.top-bar-center {

}

.top-bar-center-border {
  display: block;
  height: 3px;
  background: #ffffff;
  margin: 2px auto;
}

.top-bar-right {
  vertical-align: middle;
  line-height: 2rem;
}

.message-icon-badge {
  display: inline-block;
  position: absolute;
  right: 13px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #1da1f2;
}
/*---------------------------------------*/

.borderBottom {
  border-bottom: 1.4px solid #1da1f2;
  width: 100%;
}

/*-----------------------------*/

.topBarScrollMenu::-webkit-scrollbar {
  display: none; }

div.topBarScrollMenu {
  overflow: auto;
  white-space: nowrap;
}

div.topBarScrollMenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

div.topBarScrollMenu a:hover {
  background-color: #777;
}
