<div class="backdrop" >
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="productmodal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content kt-bg-color-primary modal-filled">
        <div class="modal-body p-4 text-black">
          <h6 class="border-bottom" *ngFor="let products of productList" (click)="selectId(products)">{{products.productName}} {{products.productQty}}</h6>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
