<mat-nav-list class="kt-color-white m-b-130">
  <div class="card" >
  <div class="full hide-scroll">
    <ul class="hs p-l-10">
      <li class="item" *ngFor="let items of productList; let i = index">
        <div class="card" style="width: 160px;padding:10px;">
          <img class="" src="" alt="Image" height="100" width="100">
          <h6 class="text-center">{{items.productName}}</h6>
          <p class="text-center">{{items.productQty}}</p>

          <h6 class="text-center m-t-20">${{items.productPrice}}</h6>

          <form class="p-t-10">
            <div class="value-button" id="decrease" (click)="decreaseValue(i)" value="Decrease Value">-</div>
            <input type="number" id="number" value="0" />
            <div class="value-button" id="increase" (click)="increaseValue(i)" value="Increase Value">+</div>
          </form>

          <button class="btn btn-primary" style="margin-top: 10px">Add</button>
        </div>
      </li>

    </ul>
  </div>
  </div>

</mat-nav-list>
