<mat-nav-list class="kt-color-white">
  <div id="main">

  <div class="card">
<span class="ml-3">
    <div class="form-group m-b-5">
      <input style="border-radius: 20px;" #addressSearch type="text" class="form-control" [(ngModel)]="address" (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocapitalize="off" spellcheck="off" >
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)" #acd></agm-marker>
    </agm-map>

    <input style="border-radius: 20px;" type="text" class="form-control m-t-20" placeholder="Delivery Address" [(ngModel)]="address">

    <input style="border-radius: 20px;" type="text" class="form-control m-t-20" placeholder="Landmark">
</span>
  </div>
  </div>
</mat-nav-list>
