.float{
  position: fixed;
  bottom: 60px;
  right: 40px;
  color: #fff;
  border-radius: 50px;
}

.form-group {
  margin-bottom: 5px!important;
}

.card {
  padding: 20px;
  box-shadow: 0px 0px 5px;
  background-color: whitesmoke;
  height: auto;
  padding: 10px;
  margin-bottom: 100px;
}
.fa-times{
  cursor: pointer;
}
.form-group {
  margin-bottom: 5px!important;
}
@media screen and (max-width: 576px){
  .card{
    padding:15px;
  }
}
