<div class="app fixed-bottom sh-primary-bg-color">
  <div class="full hide-scroll">

    <ul class="hs" *ngFor="let map of answerMapList; let i = index">
    <li class="item" *ngFor="let mapList of map.message.message.answer_map; let i = index" (click)="answering(map, i)">{{mapList.lable}}</li>
  </ul>
<!--    *ngIf="answerMapList[0].message.message.question_id === 'YO_ADD'"-->
    <div class="d-flex p-2 m-l-10" >
      <span (click)="openList()"><i class="fas fa-plus fs-23 p-r-10 m-t-5"></i></span>
      <input type="text" class="form-control" style="width: 80%; border-radius: 20px" id="productinput" [(ngModel)]="productName">
      <span (click)="openOptions()"><i class="fas fa-chevron-circle-right fs-23 p-l-10 m-t-7"></i></span>
    </div>

  </div>
</div>


<app-option-list *ngIf="showOptionList" (optionListClose)="closeOptionListModal()"></app-option-list>

<app-products *ngIf="showProductList" (productModalClose)="closeProductModal()"
              (productid)="productid"></app-products>
