
<div class="app m-3">
  <div class="p-t-15 p-l-10 p-r-10 p-b-15 form-group has-success has-feedback sh-header-primary-bg-color fixed-top " style="z-index: 500;">
    <div class="d-flex">
    <div class="input-group-append">
      <span><i class="fas fa-chevron-left fs-18 sh-primary-icon-color p-t-5"></i></span>
      <span class="p-l-10"><h6 class="f-w-900">{{messageTitle}}</h6></span>
    </div>
    </div>
    <div class="p-l-20">
      <p class="sh-secondary-font-color">Garudacharpalya</p>
    </div>
  </div>


  <div>

    <div class="list-container m-t-100" >
      <div tabindex="1" class="focusArray" id="xxx" #messagesArray  *ngFor="let messages of mapMessages; let i = index" [scrollTop]="messagesArray.scrollHeight">
          <div class="mess" *ngIf="messages.message.sender_id === userid">
            <p class="kt-font-color-tertiary sentMessages" id="msg" style="padding-bottom: 15px">{{messages.message.message.msg}}
              <span class="checkmark float-right ml-2" *ngIf="messages.read_status === 1" style="margin-top: 15px;">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="#4FC3F7" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg>
              </span>
              <span class="float-right font-italic fs-10">{{messages.message['timezone']}}
            </span>
            </p>
          </div>
          <div class="receivedmessage" *ngIf="messages.message.sender_id !== userid">
            <p class="kt-font-color-tertiary messages" style="padding-bottom: 15px">{{messages.message.message.msg}}
              <span class="float-right font-italic fs-10" >{{messages.message['timezone']}}
            </span>

          </div>
        </div>
    </div>
  </div>

  <app-scroll-bar></app-scroll-bar>
</div>

