h6, p{
  margin-bottom: 0px;
}

.background {
  background-image: url('~src/assets/background-image-1.png');
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
}
.messages{
  background-color: #d6d6d6;
  padding: 5px;
  height: auto;
  border-radius: 5px;

  margin-left: 3%;
  /* overflow: hidden; */
  //height: 100px;
  resize: both;
  /* float: left; */
  /* max-width: 380px; */
  word-wrap: break-word;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}
.sentMessages {
  background-color: #dcf8c6;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  color: #000;
  margin-right: 3%;
  /* overflow: hidden; */
  //height: 100px;
  display: block;
  resize: both;
  /* float: left; */
  /* max-width: 380px; */
  word-wrap: break-word;
  white-space: pre-wrap;
}
.mess {
  width: 90%;
  float: right;
}

.card {
  background-color: #fff;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  color: #000;
  display: block;
  resize: both;
}
.receivedmessage {
  width: 90%;
  float: left;
}
.list-container {
  overflow: auto;
  padding-bottom: 50px;
}
.crop-text-1 {
  -webkit-line-clamp: 1;
  overflow : hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.focusArray:focus {
  border-color: #fff;
}
.show {
  overflow: visible;
  height: auto;
}
//.checkmark {
//  display:inline-block;
//  width: 22px;
//  height:22px;
//  -ms-transform: rotate(45deg); /* IE 9 */
//  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
//  transform: rotate(45deg);
//}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:13px;
  background-color:#2196f3;
  left:11px;
  top:6px;
}

.checkmark_kick {
  position: absolute;
  width:5px;
  height:3px;
  background-color:#2196f3;
  left:8px;
  top:16px;
}
p{
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
  font-size: 14px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  bottom:0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.modal-header {
  display: block;
}
.close {
  float: left;
  font-size: 2.5rem;
  color: #fff;
  padding: 1rem 0.5rem;
}
.modal-content{
  background: #000408;
}
.modal-header{
  padding: 0.5rem 1rem;
}
.borderbottom {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
#textarea2 {
  width: 100%;
  border-radius: 6px;
  resize:none;
  overflow:hidden;
  font-size:18px;
  padding: 0px;
  background-color: #000408;
  border-color: #000408;
  color: #fff;
  margin-left: 0px;
  white-space: pre-wrap;

}
#textarea2::placeholder {
  color: #686868;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, 0px);
}

.badge-primary {
  padding: 6px;
  background-color: #1da1f2;
}
