<div class="backdrop" (click)="onCancelClick()">
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content kt-bg-color-primary modal-filled">
        <div class="modal-body p-4">
            <div class="d-flex border-bottom p-b-10">
              <i class="fas fa-camera-retro sh-primary-font-color fs-20 m-t-3"></i>
              <h6 class="text-black p-l-15 f-w-500 fs-20">Camera</h6>
            </div>

          <div class="d-flex border-bottom p-b-10 p-t-10">
            <i class="far fa-image sh-primary-font-color fs-20 m-t-3"></i>
            <h6 class="text-black p-l-15 f-w-500 fs-20">Photo & Video Library</h6>
          </div>
          <div class="d-flex border-bottom p-b-10 p-t-10">
            <i class="far fa-file sh-primary-font-color fs-20 m-t-3"></i>
            <h6 class="text-black p-l-15 f-w-500 fs-20">Document</h6>
          </div>
          <div class="d-flex border-bottom p-b-10 p-t-10">
            <i class="fas fa-map-marker-alt sh-primary-font-color fs-20 m-t-3"></i>
            <h6 class="text-black p-l-15 f-w-500 fs-20">Location</h6>
          </div>
          <div class="d-flex border-bottom p-b-10 p-t-10">
            <i class="far fa-user sh-primary-font-color fs-20 m-t-3"></i>
            <h6 class="text-black p-l-15 f-w-500 fs-20">Contact</h6>
          </div>
          </div>

        <div class="modal-body p-2" style="margin: 0 auto">
          <h6 class=" p-l-15 f-w-500 fs-20 sh-primary-font-color">Cancel</h6>
        </div>
        <div>
        </div>
      </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
